<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao hàng</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col1"><img src="asset/img/logo.png" alt=""></div>
                <div class="col2">
                    <ul class="menu">
                        <li><a href="index.html">TRANG CHỦ</a></li>
                        <li><a href="sanpham.html">MENU BÁNH</a></li>
                        <li><a href="giaohang.html">GIAO HÀNG</a></li>
                        <li><a href="lienhe.html">LIÊN HỆ</a></li>
                        <li><a href="#">TIN TỨC</a></li>
                        <li><a href="giohang.html">GIỎ HÀNG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <p>Chính sách giao hàng của Cái Lò Nướng được cập nhật ngày 1/12/2020</p>
        <p>Trong quá trình đặt hàng tại website phí ship sẽ được hiển thị khi anh/chị nhập địa chỉ nhận bánh trên form đặt hàng. Thắc mắc  hoặc cần giải đáp thêm về phí ship hoặc khu vực giao hàng, anh/chị có thể gọi đến hotline 028.8888.3388 để chúng tôi được tư vấn kỹ hơn.</p>
        <p>Các đơn hàng có hẹn giờ shipper sẽ cố gắng giao đến trong khoảng chênh lệch tối đa 30 phút ( có thể giao sớm hơn tùy tuyến đường và điều kiện giao thông, điều kiện thời tiết lúc giao hàng, shipper sẽ gọi trước cho khách hàng để xác nhận ).</p>
        <p>Anh/chị vui lòng giúp chúng tôi kiểm tra bánh trước khi nhận để chúng tôi có thể xử lý sự cố ( nếu có ) cho anh/chị một cách nhanh nhất, đối với các trường hợp sự cố được phát hiện sau khi nhận hàng mà không có kiểm tra với shipper, chúng tôi vẫn sẽ hỗ trợ trong một số trường hợp nhất định, tuy nhiên thời gian hỗ trợ có thể sẽ không được ngay lập tức theo yêu cầu, mong anh/chị thông cảm.</p>
    </div>
    <footer>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">© 2023 Cái Lò Nướng.</h3>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">Chính sách giao hàng | Chính sách trả hàng - hoàn tiền | Phương thức thanh toán | Thông tin liên hệ</h3>
    </footer>
</body>
</html>