<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col1"><img src="asset/img/logo.png" alt=""></div>
                <div class="col2">
                    <ul class="menu">
                        <li><a href="index.html">TRANG CHỦ</a></li>
                        <li><a href="sanpham.html">MENU BÁNH</a></li>
                        <li><a href="giaohang.html">GIAO HÀNG</a></li>
                        <li><a href="lienhe.html">LIÊN HỆ</a></li>
                        <li><a href="#">TIN TỨC</a></li>
                        <li><a href="giohang.html">GIỎ HÀNG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <p style="background-color: burlywood; color: white; line-height: 40px; padding-left: 10px; ">THÔNG TIN THANH TOÁN</p>
        <form action="">
            <label for="">Họ và tên<span style="color: red;">*</span></label><br>
            <input type="text" name="hoten" id="" value="Nhập họ và tên"><br>
            <label for="">Số điện thoại<span style="color: red;">*</span></label><br>
            <input type="text" name="sodt" id="" value="Nhập số điện thoại"><br>
            <label for="">Địa chỉ email<span style="color: red;">*</span></label><br>
            <input type="email" name="email" id="" value="Nhập địa chỉ Email"><br>
            <label for="">Địa chỉ<span style="color: red;">*</span></label><br>
            <input type="text" name="diachi" id="" value="Nhập địa chỉ"><br>
        </form>
        <p style="background-color: burlywood; color: white; line-height: 40px; padding-left: 10px; ">THÔNG TIN ĐƠN HÀNG</p>
        <p><a href=""><button>Thêm sản phẩm</button></a> <a href=""><button>Xóa toàn bộ giỏ hàng</button></a></p>
        <table>
            <tr>
                <th>Sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>Xóa</th>
            </tr>
            <tr>
                <td><img src="asset/img/sp1.jpeg" alt=""></td>
                <td>Avo Strawvo Mousse – Mousse Bơ</td>
                <td>2</td>
                <td>515.000 đ</td>
                <td>1.030.000 đ</td>
                <td><a href=""><button>x</button></a></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: left; font-weight: bold;">Tạm tính</td>
                <td style="text-align: right;">1.030.000đ</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: left;font-weight: bold;">Giao hàng</td>
                <td style="text-align: right;">30.000đ</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: left;font-weight: bold;">Tổng</td>
                <td style="text-align: right;">1.060.000đ</td>
            </tr>
        </table>
    </div>
    <footer>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">© 2023 Cái Lò Nướng.</h3>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">Chính sách giao hàng | Chính sách trả hàng - hoàn tiền | Phương thức thanh toán | Thông tin liên hệ</h3>
    </footer>
</body>
</html>