<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cái Lò Nướng</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col1"><img src="asset/img/logo.png" alt=""></div>
                <div class="col2">
                    <ul class="menu">
                        <li><a href="index.html">TRANG CHỦ</a></li>
                        <li><a href="sanpham.html">MENU BÁNH</a></li>
                        <li><a href="giaohang.html">GIAO HÀNG</a></li>
                        <li><a href="lienhe.html">LIÊN HỆ</a></li>
                        <li><a href="#">TIN TỨC</a></li>
                        <li><a href="giohang.html">GIỎ HÀNG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <img src="asset/img/banner.png" alt="">
    </nav>
    <section>
        <div class="container">
            <div class="row">
                <h1>Sản Phẩm Mới</h1>
            </div>
            <div class="row">
                <div class="col25">
                    <img src="asset/img/moi1.png" alt="">
                    <div class="ten">Beloved Summer - Bánh cuộn Trái Cây Nhiệt Đới</div>
                    <div class="gia">415.000 đ</div>
                </div>
                <div class="col25"><img src="asset/img/moi2.png" alt="">
                    <div class="ten">My Muse - Entremet Ô long Vải Hoa Hồng</div>
                    <div class="gia">650.000 đ</div>
                </div>
                <div class="col25"><img src="asset/img/moi3.png" alt="">
                    <div class="ten">Sweet Box Tinh Hoa Hội Tụ - Phiên Bản Hồng Đặc Biệt</div>
                    <div class="gia">275.000 đ</div>
                </div>
                <div class="col25"><img src="asset/img/moi4.jpg" alt="">
                    <div class="ten">Sweet Box Tinh Hoa Hội Tụ - Phiên Bản Đặc Biệt</div>
                    <div class="gia">475.000 đ</div>
                </div>
            </div>
            <div class="row">
                <h1>Được nhiều khách hàng ưa thích</h1>
            </div>
            <div class="row">
                <div class="col25">
                    <img src="asset/img/yeu1.jpeg" alt="">
                    <div class="ten">Beloved Summer - Bánh cuộn Trái Cây Nhiệt Đới</div>
                    <div class="gia">415.000 đ</div>
                </div>
                <div class="col25"><img src="asset/img/yeu2.jpeg" alt="">
                    <div class="ten">My Muse - Entremet Ô long Vải Hoa Hồng</div>
                    <div class="gia">650.000 đ</div>
                </div>
                <div class="col25"><img src="asset/img/yeu3.jpeg" alt="">
                    <div class="ten">Sweet Box Tinh Hoa Hội Tụ - Phiên Bản Hồng Đặc Biệt</div>
                    <div class="gia">275.000 đ</div>
                </div>
                <div class="col25"><img src="asset/img/yeu4.jpg" alt="">
                    <div class="ten">Sweet Box Tinh Hoa Hội Tụ - Phiên Bản Đặc Biệt</div>
                    <div class="gia">475.000 đ</div>
                </div>
            </div>
        </div>
    
        </div>
    </section>
    <footer>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">© 2023 Cái Lò Nướng.</h3>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">Chính sách giao hàng | Chính sách trả hàng - hoàn tiền | Phương thức thanh toán | Thông tin liên hệ</h3>
    </footer>
</body>
</html>