<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao hàng</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col1"><img src="asset/img/logo.png" alt=""></div>
                <div class="col2">
                    <ul class="menu">
                        <li><a href="index.html">TRANG CHỦ</a></li>
                        <li><a href="sanpham.html">MENU BÁNH</a></li>
                        <li><a href="giaohang.html">GIAO HÀNG</a></li>
                        <li><a href="lienhe.html">LIÊN HỆ</a></li>
                        <li><a href="#">TIN TỨC</a></li>
                        <li><a href="giohang.html">GIỎ HÀNG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Cái Lò Nướng</h1>
        <p>CN1: 15K Nguyễn Thị Minh Khai - P.Bến Nghé - Quận 1 - TPHCM</p>
        <p>CN2: 173 Nguyễn Thái Học - P.Phạm Ngũ Lão - Quận 1 - TPHCM</p>
        <p>CN3: 2A Ba Gia - P7 - Quận Tân Bình - TPHCM</p>
        <p style="color: orangered;">028.8888.3388 - 02866.831.310</p>
        <p style="color: orangered;">Phản hồi chất lượng dịch vụ: 028.8888.3388</p>
    </div>
    <footer>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">© 2023 Cái Lò Nướng.</h3>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">Chính sách giao hàng | Chính sách trả hàng - hoàn tiền | Phương thức thanh toán | Thông tin liên hệ</h3>
    </footer>
</body>
</html>