<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col1"><img src="asset/img/logo.png" alt=""></div>
                <div class="col2">
                    <ul class="menu">
                        <li><a href="index.html">TRANG CHỦ</a></li>
                        <li><a href="sanpham.html">MENU BÁNH</a></li>
                        <li><a href="giaohang.html">GIAO HÀNG</a></li>
                        <li><a href="lienhe.html">LIÊN HỆ</a></li>
                        <li><a href="#">TIN TỨC</a></li>
                        <li><a href="giohang.html">GIỎ HÀNG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col25">
                    <img src="asset/img/sp1.jpeg" alt="">
                    <div class="ten">Avo Strawvo Mousse – Mousse Bơ</div>
                    <div class="gia">515.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp2.jpeg" alt="">
                    <div class="ten">Flan Gato Berry Mix</div>
                    <div class="gia">385.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp3.jpeg" alt="">
                    <div class="ten">Flan Gato Strawberry – Flan Gato Dâu</div>
                    <div class="gia">675.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp4.jpg" alt="">
                    <div class="ten">Flan Gato Fruit & Pins – Flan Gato Trái Cây</div>
                    <div class="gia">485.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp5.jpg" alt="">
                    <div class="ten">Sweet Box Tinh Hoa Hội Tụ – Phiên Bản Đặc Biệt</div>
                    <div class="gia">275.000 ₫ </div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp6.jpeg" alt="">
                    <div class="ten">Snack Rong Biển</div>
                    <div class="gia">120.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp7.jpeg" alt="">
                    <div class="ten">Strawberry Sensation Corn Cake – Bánh kem Bắp Dâu</div>
                    <div class="gia">450.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp8.png" alt="">
                    <div class="ten">Sweet Box Tinh Hoa Hội Tụ – Phiên Bản Hồng Đặc Biệt</div>
                    <div class="gia">475.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp9.png" alt="">
                    <div class="ten">Tropical Vibes Mousse – Mousse Ổi hồng & Chanh dây</div>
                    <div class="gia">890.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp10.jpeg" alt="">
                    <div class="ten">Pretty Swan – Bắp Thiên Nga</div>
                    <div class="gia">565.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp11.png" alt="">
                    <div class="ten">Cherri Lady – Entremet Cherry</div>
                    <div class="gia">595.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp12.png" alt="">
                    <div class="ten">Happy Sunrise – Entremet Thanh Trà</div>
                    <div class="gia">595.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp13.png" alt="">
                    <div class="ten">Avocado Daisy – Entremet Bơ & Hoa Cúc</div>
                    <div class="gia">545.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp14.png" alt="">
                    <div class="ten">My Muse – Entremet Ôlong Vải Hoa Hồng</div>
                    <div class="gia">650.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp15.jpg" alt="">
                    <div class="ten">Combo 2 – Gourmet Glow Delights – No Đầy Ấm Êm</div>
                    <div class="gia">219.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp16.jpg" alt="">
                    <div class="ten">Combo 1 – Golden Crust Delights – Sung Túc Đủ Vị</div>
                    <div class="gia">219.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp17.jpg" alt="">
                    <div class="ten">Combo 3 – Dough Deluxe Pastries – Trọn Vẹn Bữa Ngon</div>
                    <div class="gia">339.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
                <div class="col25">
                    <img src="asset/img/sp18.png" alt="">
                    <div class="ten">Beloved Summer – Bánh Cuộn Trái Cây Nhiệt Đới</div>
                    <div class="gia">415.000 ₫</div>
                    <div class="row">
                        <input type="number" name="sl" id="" value="1" class="ddinputso">
                        <div class="dathang">Add</div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    </section>
    <footer>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">© 2023 Cái Lò Nướng.</h3>
        <h3 style="color: bisque; text-align: center; padding-top: 10px;">Chính sách giao hàng | Chính sách trả hàng - hoàn tiền | Phương thức thanh toán | Thông tin liên hệ</h3>
    </footer>
</body>
</html>